<div class="container-loading">
    <div class="loadingio-spinner-rolling-plel76ffovm">
        <div class="ldio-pq36valtk1q">
            <div></div>
        </div>
    </div>
    <style type="text/css">
        @keyframes ldio-pq36valtk1q {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
    
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    
        .ldio-pq36valtk1q div {
            position: absolute;
            width: 120px;
            height: 120px;
            border: 20px solid #ff0011;
            border-top-color: transparent;
            border-radius: 50%;
        }
    
        .ldio-pq36valtk1q div {
            animation: ldio-pq36valtk1q 1s linear infinite;
            top: 100px;
            left: 100px
        }
    
        .loadingio-spinner-rolling-plel76ffovm {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: #f1f2f3;
        }
    
        .ldio-pq36valtk1q {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
            /* see note above */
        }
    
        .ldio-pq36valtk1q div {
            box-sizing: content-box;
        }
    
        .container-loading {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            min-height: 300px;
        }
    </style>
</div>
